.ppal__componente {
    margin: 5%;
    margin-bottom: 2%;
    max-width: 90%;
    background-color: $backgroundColor2;
    &:hover, &:active{
        background-color: $backgroundColor;
    }
    .ppal__componente__img{
        max-width: 100%;
        padding: 10%;
        padding-bottom: 3%;
    }
    .ppal__componente__txt{
        padding: 7%;
        padding-top: 0%;
        padding-bottom: 5%;
        h2{
            text-align: center;
            padding-bottom: 1%;
        }  
    }
}