header{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-bottom: 3%;
    background-color: white;
    .header__logo{
        /*MediaQuery*/
        width: 50%;
        height: 60%;
        margin-left: 20%;
        }
    .header_menu{
        margin-left: 7%;
        margin-top: -1%;
        /*margin-right: 30px;*/
        display: flex;
        justify-content: flex-end;
        .hamburger{
            /*position:fixed;*/
          background-color:transparent;
          left:0;
          top:0;
          height:30px;
          width:30px;
          padding:20px 20px;
          -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
          -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
          transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
          z-index:1002;
          cursor:pointer;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none;
          &.is-active{
            background-color:none;
            .-top{
                -webkit-transform:translateY(200%) rotate(45deg);
                -ms-transform:translateY(200%) rotate(45deg);
                transform:translateY(200%) rotate(45deg);
            }
            .-mid{
                opacity:0;
            }
            .-bottom{
                -webkit-transform:translateY(-200%) rotate(135deg);
                -ms-transform:translateY(-200%) rotate(135deg);
                transform:translateY(-200%) rotate(135deg);
            }
          }
        }
        .menuppal{
            background-color: $backgroundColor;
            bottom: 0;
            height: 100%;
            left: 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            transform: translate3d(0px, -100%, 0px);
            transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
            width: 100%;
            z-index: 1001;
            ul{
                margin:0;padding:0;
                li { 
                    list-style: none;
                    text-align:center;
                    font-family: Verdadna, Arial, Helvetica;
                    font-size:2.5rem;
                    line-height:15em;
                    height:3em;
                    text-transform:none;
                    font-weight:bold;
                    a{
                        text-decoration:none;
                        color:$darkPrimaryColor;
                        &:hover{
                            text-decoration:none;
                            color:#333;
                        }
                    }
                }  
            }
            &.is_active{
                transform: translate3d(0px, 0px, 0px);
            }
            .componente__login{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 15%;
                height: 70%;
                width: 70%;
                img{
                    width: 50%;
                    margin: 20%;
                }
                h1{
                    @include format_letra($darkPrimaryColor, 2rem, bold);
                    margin-bottom: 5%;
                }
                .componente__login__form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    input{
                        width: 100%;
                        margin:2%;
                    }
                    button{
                        /**FORMATO BOTONES*/
                        margin: 2%;
                        width: 80%;
                    }
                }
            }
         }
    }

}

._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	/*webkit-transform:translate3d(0, 0, 0);*/
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
    }

/*.componente__login__label{
    display: flex;
    flex-direction: row-reverse;
}*/
