.main__receta{
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin-left: 5%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.85);
    h1{
        
        @include format_letra(black, 2rem, bold);

    }
    hr{
        margin: 2% 0;
    }
    .receta__img{
        padding: 1% 0;
        height: 20rem;
        margin-bottom: 4%;
    }
    p{
        @include format_letra(black, 1rem, normal);
        text-align: justify;
        margin-bottom: 3%;
    }
    h3{
        @include format_letra(black, 1.2rem, bold);
    }
    .main__receta__comens{
        margin-top: 2%;
        h2{
            text-align: center;
            margin-top: 2%;
            @include format_letra(black, 2rem, bold);
        }
        //background-color: yellow;
        //background-color: $backgroundColor;
        .main__receta__comens__comp{
            display: flex;
            flex-direction: row;
            padding: 3%;
            margin-top: 5%;
            //border: solid  1px $borderColor;
            //box-shadow: 10px 5px 5px black;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            background-color: $backgroundColor;
            .main__receta__comens__comp__img{
                width: 30%;
                height: 8rem;
                padding-right: 2%;
            }
            .p{
                text-align: justify;
                @include format_letra(black, 0.8rem, normal);
            }
        }
        .main__receta__comens__dejar{
            display: flex;
            flex-direction: column;
            //padding: 1%;
            margin-top: 5%;
            height: 11rem;
            //border: solid  1px $borderColor;
            //box-shadow: 10px 5px 5px black;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            background-color: $backgroundColor;
            .main__receta__comens__dejar__h2{
                padding: 2% 4%;
                padding-bottom: 0;
                @include format_letra(black, 1rem, bold);
                //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                //background-color: $backgroundColor; 
            }
            .main__receta__comens__dejar__form{
                display: flex;
                flex-direction: column;
                padding: 0 3%;
                margin: 0;
                //height: 8rem;
                .main__receta__comens__dejar__form__input{
                    padding: 0% 1%;
                    margin: 2% 0;
                    //width: 100%;
                    height: 5rem;
                    box-sizing: border-box;
                    border: 0.1px solid rgb(124, 124, 124);
                    resize: none;
                    background-color: rgba(216, 211, 211, 0.377);
                    @include format_letra(black, 0.8rem, normal);
                    overflow:scroll;
                    
                    
                    
                }
            }
        }
    }
    
}