@keyframes float {
    0% {
        transform: translatey(200%) rotate(45deg);
    }

    50% {
        transform: translatey(200%) rotate(45deg);
    }

    100% {
        transform: translatey(200%) rotate(45deg);
    }
}
