
/*MOBILE FIRST*/
/*Por defecto diseño para móvil grande (~400*800)*/

@mixin small_phone {
    @media screen and (min-width: $sphone-min-size) {
        @content;
    }
}


@mixin small_tablet {
    @media screen and (min-width: $stablet-min-size) {
        @content;
    }
}

@mixin big_tablet {
    @media screen and (min-width: $btablet-min-size) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-min-size) {
        @content;
    }
}


