* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{margin:0;padding:0;}

.blog{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image: url("../../src/assets/img/background.jpg");
    //background-color: $backgroundColor;
    //background-image: url('../assets/img/background.jpg');
}
