
/*Colores*/
$darkPrimaryColor : #00796B;
$lightPrimaryColor : #B2DFDB;
$primaryColor : #009688; //fondo de la pagina
$textIconsColor : #FFFFFF;
$accentColor : #FFEB3B; //botones
$primaryTextColor : #212121;
$secondaryTextColor : #757575;
$dividerColor : #BDBDBD;
$backgroundColor: rgba(255, 255, 255, 0.85);
$backgroundColor2: rgba(255, 218, 185,0.90);

$backgroundColorComments: rgb(245, 245, 245);
$borderColor:rgb(241, 183, 132);


/*Fonts*/
//$root-font-size: 10px;
$root-font-size: 62.5%; /*1rem = 16px;  62.5% de 16px es 10px -> 1.6rem = 16px */

// Breakpoints
$sphone-min-size: 360px; //Galaxy s5, Motog4
$stablet-min-size:500px; //esta en principio no la voy a hacer
$btablet-min-size: 700px;
$desktop-min-size: 900px;
